<!DOCTYPE html>
<html ng-app='swApp'>
  <head>
    <meta charset="utf-8">
    <title>Star Wars!</title>
    <!-- CSS & BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css">
    <!-- ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" charset="utf-8"></script>
    <!-- JAVASCRIPT -->
    <script src="/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller='SwController as vm'>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1 class="text-center">Star Wars!</h1>
      </div>

      <!-- SHOW ALL PEOPLE -->
      <div class="row">
        <!-- People Panel -->
        <div class="col-xs-6">
          <!-- List Group -->
          <ul class="list-group">
            <li class="btn btn-default list-group-item" ng-repeat='p in vm.people' ng-click='vm.showPersonBio(p)'>
              {{p.name}}
            </li>
          </ul>
          <!-- Button Group -->
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button class="btn btn-primary" ng-if='vm.data.previous' ng-click='vm.showPreviousPeople(vm.data.previous)'>Previous</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" ng-if='vm.data.next' ng-click='vm.showNextPeople(vm.data.next)'>Next</button>
            </div>
          </div>
        </div>
        <!-- Individual Person Panel -->
        <div class="col-xs-6">
          <div class="panel panel-default">
            <!-- Panel Heading -->
            <div class="panel-heading">
              <h3 class="text-center">Bio: {{vm.person.name}}</h3>
            </div>
            <!-- Panel Body -->
            <div class="panel-body">
              <div class="">
                <ul class="list-group" ng-if='vm.person'>
                  <li class="list-group-item"><p><strong>Name: </strong>{{vm.person.name}}</p></li>
                  <li class="list-group-item"><p><strong>Y.O.B: </strong>{{vm.person.birth_year}}</p></li>
                  <li class="list-group-item"><p><strong>Eye Color: </strong>{{vm.person.eye_color}}</p></li>
                  <li class="list-group-item"><p><strong>Gender: </strong>{{vm.person.gender}}</p></li>
                  <li class="list-group-item"><p><strong>Skin Color: </strong>{{vm.person.skin_color}}</p></li>
                  <li class="list-group-item"><p><strong>Height: </strong>{{vm.person.height}}</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!-- END SHOW PEOPLE -->
    </div><!-- END CONTAINER -->
  </body>
</html>
